---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import DestinationFinder from '../components/DestinationFinder.astro';
import ExperiencesTimeline from '../components/ExperiencesTimeline.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import FloatingNavbar from '../components/FloatingNavbar.astro';
import TravelTips from '../components/TravelTips.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Discover the World Less Traveled">
	<FloatingNavbar />
	<main>
		<Hero />
		<section id="destinations" class="py-16">
			<DestinationFinder />
		</section>
		<section id="experiences" class="py-16">
			<ExperiencesTimeline />
		</section>
		<section id="tips" class="py-16">
			<TravelTips />
		</section>
		<section id="testimonials" class="py-16">
			<Testimonials />
		</section>
		<Newsletter />
	</main>
	<Footer />
</Layout>
